
.tblEstilo{
    border-collapse: collapse;
    border: 2px solid #828080;

    & th{
        background-color: #deb887;
        border:2px solid #828080;
        text-align: center;
    }

    & .lineTbl{
        background-color: #ccc;

        & td{
            border: 2px solid #828080;

            &:first-child{
                text-align: center;
            }

            &:nth-last-child(2),
            &:nth-last-child(3),
            &:nth-last-child(5),
            &:last-child {
                text-align: center;
            }

            &:last-child{
                text-align: center;
            }
            & a{
                color: black;
                &:hover{
                    color: white;
                }
            }
        }   
    }

    & tfoot{
        background-color: #ccc;
        & td{
            border: 2px solid #828080;
            text-align: center;
        }
    }
}
